

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { background-color: lightgray;}
.logo { display: none; }
.struc { max-width: 20em; height: auto;}
.logoJumbo  { display: block; width: 10em; height: auto; margin: 1.5 auto 1.5;}
/* marge des elements de tableaux dl */
dt{ margin-left: 5%;}
dd{  margin-left: 20%;}
/* Affichage du logo au dessus du format tab */
@media screen and (min-width: 768px) {
  .logo { display: block; margin: 3.5em auto 1.5em }
}
