/* font google*/
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
  margin-top: 3em;
  font-size: 1em;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:2em;
  color:#DDCCEE;
}
/*img{
  display: none;
}*/
.logo{
  display: block;
  height: 5em;
  width: auto;
}
.lead {
	color:#DDCCEE;
}
#entete{
  background-color: rgb(54, 56, 61);
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:50%;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
dt{
  margin-left: 1.5em;
}
dd{
  margin-left: 3em;
}
dl ul li {
  margin-left: 3em;
}
@media screen and (min-width:755px) {
  /*Display img sur ecran moyen*/
    img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: 1em auto;
    }

}
